html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin : 0;
  padding : 0;
  border : 0;
  outline : 0;
  font-size : 100%;
  vertical-align : baseline;
  background : transparent;
}
  
nav ul, nav li {
  list-style : none;
  list-style-position : inside;
}

a {
  margin : 0;
  padding : 0;
  font-size : 100%;
  vertical-align : baseline;
  background : transparent;
  text-decoration : none;
  color : #767676;
}

a:hover,
button:hover {
  cursor : pointer;
}

body {
  font-family: "Helvetica";
}

/* HEADER */

.header {
  background-color: #2B2B2B;
}

.header__outer {
  display: flex;
  align-items: center;
  height: 64px;
}

.header__inner {
  padding: 0 3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex: 3;
  justify-content: space-between;
}

.header__left__ul {
  display: flex;
  flex-direction: row wrap;
  gap: 0.25rem;
  align-items: center;
}

.header__logo__link {
  width: 143px;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.header__logo {
  height: 32px;
  width: 143px;
}

.header__logo path {
  fill: #FFFF;
}

.header__logo__caption {
  color: #FFFF;
  text-align: right;
  white-space: nowrap;
  font-size: 0.625rem;
}

.header__link {
  color: #FFF;
  padding: 8px 12px;
  font-size: 1rem;
  font-weight: 500;
  font-family:  Helvetica, Arial, sans-serif;
  white-space: nowrap;
  letter-spacing: 1px;
}

.header__link--divider {
  background-color:#5E5E5E;
  width: 1px;
  height: 38px;
}

.header__inner__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__right__ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.header__link--right {
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 8px;
}

.header__link--shopcart {
  display: flex;
  align-items: center;
  padding: 8px 0 8px 12px;
}

.header__shopcart {
  fill: #FFF;
  height: 1.4rem;
}

.header__link--arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.arrow__li {
  position: relative;
}

.header__link__arrowmenu {
  position: absolute;
  width: 354px;
  margin: 0 auto;
  right: 0;
  top: 50px;
  background-color: #FFF;
  z-index: 5;
  box-shadow: 0px 1px 8px rgba(118,118,118,0.3);
  border-radius:4px;
}

.header__link__arrowmenu::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 12px solid #FFF;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
}

.arrowmenu__content {
  padding: 8px 16px;
}

.arrowmenu__content > hr {
  border-top: 1px solid #d6d6d6;
}

.arrowmenu__chapter p {
  margin: 16px 0;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.3;
}

.arrowmenu__link {
  white-space: nowrap;
}

.arrowmenu__link p {
  text-decoration: underline;
  color: #09757A;
}

#inbox__links {
  font-size: 0.8;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
}

.link__arrow {
  height: 20px;
}

.header__link--hoverable:hover {
  background-color: #5E5E5E;
  border-radius: 8px;
}

.header__link__arrowmenu--hidden {
  display: none;
}

.header__link--arrow--opened {
  background-color: #FFF;
  border-radius: 8px;
  color: #000;

  .link__arrow path {
    fill: #000;
  }
}

/* BODYYY ****************/

body {
  background-color: #FFF;
}

.hero__wrapper {
  padding: 0 3rem;
}

.searchbar {
  display: flex;
  flex: 2;
  outline: 1px solid #767676;
}

.searchbar--focused {
  outline: 3px solid blue;
}

.hero__inner {
  flex: 2;
}

.hero__upper__bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0;
  gap: 20px;
  justify-content: space-between;
}

.input {
  flex: 2;
  height: 60px;
  border-width: 0px;
  background-color: whitesmoke;
  font-size: 20px;
  padding: 0 16px;
}

.input--third[type="text"]:focus {
  outline: none
}

.input__button {
  height: 60px;
  background-color: #00838C;
  color: #FFFF;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 160px;
}

.input__button:hover {
  background-color: #09757A;
}

.input__button p {
  white-space: nowrap;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.hero__price {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.hero__shop__icon {
  height: 33px;
}

.hero__currency {
  color: #767676;
  font-size: 0.9rem;
}

.hero__offer__wrapper {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.hero__offer {
  border-radius: 15px;
  display: flex;
}

.hero__offer--left {
  background-image: url("./row-mrq-hp-landscape\ \(2\).jpg");
  display: flex;
  padding: 2dvw;
  background-size: cover;
  background-clip: border-box;
  background-repeat: no-repeat;
  min-height: 400px;
  flex: 5;
}

.hero__content {
  display: flex;
  flex-direction: column;
  max-width: 945px;
  padding: 2rem;
}

.hero__content--left {
  max-width: 350px;
  margin-bottom: 3rem;
}

.hero__content--left > *,
.hero__content--right > * {
  margin: 16px 0;
}

.hero__category {
  color: #111;
  font-size: 1rem;
  font-weight: 600; 
}

.hero__headline--left {
  font-size: 3rem;
}

.hero__description {
  font-size: 1.2rem;
}

.hero__offer__button {
  padding: 12px 48px;
  border: none;
  background-color: #111;
  color: #FFF;
  border-radius: 6px;
  position: relative;
  transition: all 0.5s;
  text-align: center;
}

.offer__button__text {
  white-space: nowrap;
  position: relative;
}

.offer__button__text::after {
  content: "\2192";
  font-size: 1.2rem;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
  height: 100%;
  transition: 0.5s;
  display: flex;
  align-items: center;
}

.hero__offer__button:hover {
  .offer__button__text {
    left: -10px;
  }
  .offer__button__text::after {
    opacity: 1;
    right: -30px;
  }
}

.hero__disclaimer {
  font-size: 0.9rem;
}

.hero__offer--right {
  background-color: #D8EFEF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.hero__headline--right {
  font-size: 2rem;
}

.hero__content--right {
  text-align: center;
}

/* HERO SERVICES ************/

.hero__services__wrapper {
  padding: 32px 0;
}

.hero__services__grid {
  display: grid;
  grid-auto-flow: column dense;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.2fr;
  grid-template-rows: repeat(2, minmax(3rem,1fr));
  border-top: 0.5px solid #D6D6D6;
}

.hero__service {
  border-left: 0.5px solid #D6D6D6;
  border-right: 0.5px solid #D6D6D6;
  border-bottom: 0.5px solid #D6D6D6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  transition: all 500ms;
}

.hero__service--almostlast {
  align-items: flex-end;
  border-bottom: unset;
}

.hero__service--almostlast:hover {
  .hero__service--last {
    background-color: #111;
    color: #FFF;
  }
}

.hero__service--last {
  align-items: flex-start;
  grid-row: span 2;
  place-self: stretch;
  display: flex;
  align-items: center;
}

.service__content {
  position: relative;
  font-size: 0.9rem;
}

.service__content--arrow::after {
  content: url("/arrow__right.svg");
  position: absolute;
  top: 0;
  right: -25px;
  height: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  transition: all 500ms;
}

.service__headline,
.service__subhl,
.service__sshl {
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}

.service__headline--last {
  font-size: 2.5rem;
}

.hero__service:hover {
  background-color: #111;
  color: #FFF;
  border-left: 0.5px solid #111;
  border-right: 0.5px solid #111;
  border-bottom: 0.5px solid;

  .service__content::after {
    opacity: 1;
    right: -35px;
  }

  .service__content--arrow {
    position: relative;
    right: 25px;
  }
}


/* REVIEWS PART */

.reviews__wrapper {
  padding: 5dvh 3rem;
}

.reviews__wrapper--opacityoff {
  opacity: 0;
}

.reviews__wrapper--opacityon {
  opacity: 1;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 0.5s ease-out;
}

.reviews__mainhl {
  font-size: 2.5rem;
  padding-bottom: 20px;
  font-weight: 500;
}

.reviews__box__wrapper {
  overflow-x: auto;
  display: grid;
  grid-template-rows: min-content;
  grid-auto-flow: column;
  gap: 1rem;
  grid-auto-columns: 32%;
  overscroll-behavior-inline: contain;
}

.reviews__box__wrapper::-webkit-scrollbar {
  display: none;
}

.reviews__box__wrapper-snap { 
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.reviews__box__wrapper--snap > * {
  scroll-snap-align: start;
}

.reviews__box {
  background-color: whitesmoke;
  display: flex;
  border-radius: 8px;
}

.reviews__box__content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.review__citation {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
  white-space: nowrap;
}

.review__stars {
  padding: 20px 0 0;
  display: block;
}

.review__star {
  width: 15px;
}

.review__text {
  padding: 35px 0 0;
  line-height: 1.4;
  font-size: 1.1rem;
}

.review__author {
  padding-top: 50px;
  font-size: 0.8rem;
}

.reviews__bottom {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.review__trustpilot__img {
  height: 40px;
}

.review__star--general {
  width: 30px;
  height: 30px;
}

.reviews__bottom__subline {
  padding: 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  font-size: 0.9rem;
}

.reviews__bottom__subline > span {
  color: #d4dbe0;
  font-size: 1.375rem
}

.reviews__controller__wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}

.review__control__button {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #000;
} 

.review__control__button:hover {
  background-color: #000;
  
  .control__arrow {
    fill: #FFF;
  }
}

.review__control__button--right {
  transform: scaleX(-1);
}

.control__arrow {
  width: 30px;
  height: 30px;
}


/* RTB BLOCK */

.rtb {
  padding: 60px 3rem;
}

.rtb__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0;
}

.rtb__image__container {
  display: flex;
  flex: 1;
}

.rtb__image {
  width: 100%;
  min-width: 100%;
  height: auto;
}

.rtb__text__container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rtb__text__content {
  display: flex;
  gap: 20px;
  flex-direction: column;
  text-align: left;
  padding: 4dvw;
}

.rtb__preheader {
  font-size: 0.9rem;
}

.rtb__headline {
  font-size: 2.2rem;
}

.rtb__bodytext {
  font-size: 0.95rem;
  line-height: 1.5;
}

.rtb__bodytext > span {
  font-weight: bolder;
}

.rtb__button {
  white-space: nowrap;
  font-weight: bolder;
  border-radius: 6px;
  font-size: 0.9rem;
  padding: 1rem;
  border: 2px solid #000;
  color: #000;
  text-align: center;
  max-width: fit-content;
}

.rtb__button:hover {
  transform: scale(1.05);
  transform-origin: top;
}

.rtb__two__buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.rtb__disclaimer {
  font-size: 0.8rem;
}

/*********** DOMAIN *********/

.domain {
  background-color: #D8EFEF;
  text-align: center;
  display: flex;
  align-content: center;
}

.domain__content {
  margin: 0 auto;
  display: flex;
  flex: 2;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  max-width: 40dvw;
  padding: 8dvh;
  min-height: 35dvh;
}

.searchbar--secondary {
  flex: 0;
  outline: none;
}

.input--secondary--focused {
  outline: 2px solid blue;
  outline-offset: -2px;
}

.domain__h3 {
  font-size: 2rem;
}

.input__button--secondary {
  background: #000;
}

/************ GUIDE *********/

.guide {
  background-image: url("/mrq-Guide-EMEA-Jamila-desktop.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: end;
  align-items: center;
  background-clip: padding-box;
  position: relative;
}

.guide__figcaption {
  position: absolute;
  left: 10%;
  top: 10%;
  font-size: 0.8rem;
}

.guide__figcaption span {
  font-weight: bolder;
}

.guide__content__wrapper {
  padding: 48px;
  flex-basis: 50%;
}

.guide__content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 560px;
}

.guide__logo {
  width: 177px;
  height: 24px;
}

.guide__h3 {
  font-size: 3rem;
  line-height: 1.3;
}

.guide__searchbar__underlinks {
  display: flex;
  gap: 15px;
}

.searchbar--third {
  outline: 0.5px solid #767676;
}

.guide__searchbar__links {
  color: #111;
  font-weight: bolder;
}

.guide__searchbar__links:hover {
  transform: scale(1.01);
}

/******** FAQ ***********/////

.faq {
  margin: 200px 0 0 0;
}

.faq__wrapper {
  margin: 0 auto;
  text-align: left;
  max-width: 800px;
}

.faq__heading {
  text-align: center;
}

.faq__questions {
  padding: 24px;
  margin: 16px auto;
}

.faq__mainhl {
  font-size: 2.7rem;
  margin-bottom: 24px;
}

.faq__shl {
  font-size: 1.8rem;
  margin-bottom: 24px;
}

.faq__bodycopy {
  margin: 10px 0;
  line-height: 1.5;
  font-size: 0.9rem;
}


.faq__wrapper details {
  margin: 1.5rem 0;
  line-height: 1.3;
}

.faq__wrapper details:hover {
  cursor: pointer;
}

.faq__wrapper summary {
  font-size: 1.5rem;
  list-style: none;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
}

.faq__summary__arrow {
  height: 25px;
  width: 25px;
  transition: transform 200ms;
}

.faq__details__li {
  list-style: disc;
  margin: 10px 0px 0 20px;
  font-size: 0.9rem;
}

.faq__details__li--number {
  list-style: decimal;
}

.faq__bodycopy {
  margin: 8px 0 0;
}

.faq__note {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 0.9rem;
  margin: 100px 0;
}

.faq__support {
  margin: 100px 0 0 0;
  text-align: center;
  background-color: whitesmoke;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.footer {
  background-color: #000;
}

.footer__header {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  flex-direction: column;
  box-shadow: 0 0 0 0.5px whitesmoke;
}

.footer__header__text {
  color: #FFF;
}

.footer__column__wrapper {
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.footer__column {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 0.8rem;
}

.footer__column__headline {
  font-size: 1rem;
  color: #FFF;
  font-weight: bolder;
}

.footer__bottombar {
  padding: 0 3rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 50px;
  border-bottom: 1px solid whitesmoke;
}

.footer__bottombar__link--languague {
  display: flex;
}

.footer__bottombar__left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__bottombar__link {
  color: #FFF;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  position: relative;
}

.footer__bottombar__expandmenu {
  position: absolute;
  display: none;
  bottom: 100%;
  z-index: 10;
  flex: 4;
  background-color: whitesmoke;
  animation: expandmenu__rollup 200ms ease-in-out;
}

@keyframes expandmenu__rollup {
  from {
    transform: scaleY(0.1);
    transform-origin: bottom;
  }
  to {
    transform: scaleY(1);
    transform-origin: bottom;
  }
}

.footer__bottombar__expandmenu--language {
  left: 0;
  right: 0;
}

.footer__bottombar__expandmenu--currency {
  display: none;
  width: 160px;
  height: 400px;
  background-color: whitesmoke;
  overflow: scroll;
}

.bottombar__expandmenu__wrapper {
  padding: 2.5rem;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  animation: expandmenu__opacity 800ms ease-in-out;
}

@keyframes expandmenu__opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.bottombar__expandmenu__wrapper--currency {
  width: 160px;
  padding: 0;
  text-align: left;
}

.footer__expandmenu__hl {
  font-size: 1.6rem;
}

.footer__bottombar__languagues {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.bottombar__languague__column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottombar__languague__column a {
  font-size: 0.9rem;
  font-weight: bolder;
  color: #000;
}

.expandmenu__currency__button {
  border: transparent;
  text-align: left;
  padding: 10px;
  margin: 5px 0;
  background-color: whitesmoke;
  font-size: 1rem; 
}

.expandmenu__currency__button--us {
  border-bottom: 1px solid #767676;
}

.expandmenu__currency__button:hover {
  background-color: #FFF;
}

.bottombar__languague__column a:hover {
  color: #1976d2;
}

.bottombar__arrow__up {
  width: 20px;
  transition: 500ms;
}

.icon {
  padding-left: 10px;
}

.footer__notes {
  padding: 20px 3rem 40px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.footer__notes__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1.25rem;
}

.footer__notes__text {
  color: #FFF;
  font-size: 0.7rem;
}

.footer__notes__text--second {
  margin: 1.25rem 0 0 0;
}

.footer__notes__links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
}

.footer__notes__links a {
  white-space: nowrap;
  font-size: 0.7rem;
  color: #FFF;
}

/*********** SWITCHING DISPLAYS AND ROTATING ARROWS ********/

.arrow--open {
  transform: rotate(180deg);
}

.open__menu {
  display: flex;
}

