html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin : 0;
  padding : 0;
  border : 0;
  outline : 0;
  font-size : 100%;
  vertical-align : baseline;
  background : transparent;
}
  
nav ul, nav li {
  list-style : none;
  list-style-position : inside;
}

a {
  margin : 0;
  padding : 0;
  font-size : 100%;
  vertical-align : baseline;
  background : transparent;
  text-decoration : none;
}

a:hover,
button:hover {
  cursor : pointer;
}

body {
  font-family: "Helvetica";
  margin: 0 auto;
}


/* HEADER */

.header {
  background-color: #2B2B2B;
}

.header__outer {
  display: flex;
  align-items: center;
  height: 64px;
}

.header__inner {
  max-width: 2500px;
  padding: 0 3rem;
  margin: 0 auto;
  display: flex;
  flex: 3;
  justify-content: space-between;
}

.header__left__ul {
  display: flex;
  flex-direction: row wrap;
  gap: 0.25rem;
  align-items: center;
}

.header__logo__link {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.header__logo {
  height: 32px;
  width: 143px;
}

.header__logo path {
  fill: #FFFF;
}

.header__logo__caption {
  color: #FFFF;
  text-align: right;
  white-space: nowrap;
  font-size: 0.625rem;
}

.header__link {
  font-size: 1rem;
  font-weight: 500;
  font-family:  Helvetica, Arial, sans-serif;
  white-space: nowrap;
  letter-spacing: 1px;
}

.header__link__button  {
  padding: 8px 12px;
  color: #FFF;
}

.header__link--divider {
  background-color:#5E5E5E;
  width: 1px;
  height: 38px;
}

.header__inner__right {
  display: flex;
  align-items: center;
}

.header__right__ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.header__link--right {
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.header__link__button--arrow {
  display: flex;
  flex-direction: row;
}

.link__arrow {
  height: 15px;
}

.header__link__arrowmenu {
  position: absolute;
  width: 354px;
  margin: 0 auto;
  right: 0;
  top: 50px;
  background-color: #FFF;
  z-index: 5;
  box-shadow: 0px 1px 8px rgba(118,118,118,0.3);
  border-radius: 4px;
}

.header__link__arrowmenu::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 0;
  width: 0;
  border-bottom: 12px solid #FFF;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
}

.arrowmenu__content {
  padding: 8px 16px;
}

.arrowmenu__content > hr {
  border-top: 1px solid #d6d6d6;
}

.arrowmenu__chapter p {
  margin: 16px 0;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.3;
  white-space: wrap;
}

.arrowmenu__link {
  white-space: nowrap;
}

.arrowmenu__link p {
  text-decoration: underline;
  color: #09757A;
}

#inbox__links {
  font-size: 0.8;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 400;
}

.header__link--hoverable a:hover {
  background-color: #5E5E5E;
  border-radius: 8px;
}

.header__link__arrowmenu--hidden {
  display: none;
}

.header__link__button--arrow--opened {
  background-color: #FFF;
  border-radius: 8px;
  color: #000;

  .link__arrow path {
    fill: #000;
  }
}

.shopcart {
  height: 25px;
}

.arrow__li {
  position: relative;
}

/******** HEADER MOBILE *********/

.body__hamburger__on {
  overflow-y: hidden;
}

.header--mobile {
  display: none;
}

.header__inner--mobile {
  padding: 16px;
}

.header__message,
.header__users,
.header__shopcart {
  height: 24px;
  width: 24px;
}

.header__left__ul--mobile {
  display: flex;
  gap: 20px;
}

.header__logo__link--hamburger {
  display: flex;
  flex: 2; 
}

.ham__logo {
  width: 36px;
  height: 32px;
}

.ham__lines__wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.ham__line {
  height: 2px;
  background-color: #FFF;
  width: 20px;
}

///// HAMBURGER NORMAL MENU 

.hamburger__menu {
  display: none;
  position: fixed;
  flex-direction: row;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  height: 100%;
  width: 100%;
}

.hamburger__menu--opened {
  display: flex;
};

.hamburger__submenu__left {
  display: flex;
  animation: slidein 400ms;
  flex: 3;
  min-width: 250px;
  max-width: 450px;
  position: relative;
}

@keyframes slidein {
  from {
    transform: translateX(-300px)
  }
  to {
    transform: translateX(0px)
  }
}

.hamburger__menu__content {
  background-color: #FFF;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 2;
  z-index: 10;
  position: static;
}

.hamburger__logo__wrapper {
  height: 32px;
  width: 166px;
}

.hamburger__links {
  display: flex; 
  flex-direction: column; 
  margin: 50px 0;
  flex: 2;
  position: static;
}

.hamburger__link {
  padding: 24px 0 24px;
  font-size: 1.1rem;
  position: static;
  display: flex;
}

.arrowlink__inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  flex-direction: row;
}

.hamburger__link__button--arrow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 2;
  transition: translate 400ms;
}

.hamburger__link__button--arrow:hover img {
  translate: 5px 0;
}

.header__logo__caption--mobile {
  color: #000;
}

.hamburger__bottomlinks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hamburger__bottomlink a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hamburger__svg {
  height: 25px;
  margin-right: 5px;
}

.hamburger__submenu__right {
  backdrop-filter: blur(3px);
  display: flex;
  flex: 4;
}

.hamburger__close__svg {
  height: 30px;
  width: 30px;
  margin: 16px 0 0 10px;
}

.hamburger__close__svg:hover {
  cursor: pointer;
}

///// INSIDEMENU 

.hamburger__insidemenu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-width: 450px;
  min-width: 250px;
  z-index: 600;
  background-color: whitesmoke;
  flex: 3;
}

.hamburger__insidemenu--webhosting {
  overflow: scroll;
}

.hamburger__insidemenu--open {
  display: flex;
}

.insidemenu__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 3;
  padding: 16px;
  opacity: 1;
  animation: opacitySlide 800ms;
}

@keyframes opacitySlide {
  from {
    opacity: 0;
    transform: translateX(20px)
  }
  to {
    opacity: 1;
    transform: translateX(0px)
  }
}

.insidemenu__chevron {
  width: 35px;
}

.insidemenu__chevron:hover {
  cursor: pointer;
} 

.insidemenu__headline {
  text-transform: uppercase;
  color: #767676;
  font-size: 0.8rem;
  padding: 8px 0px 4px 8px;
}

.insidemenu__row {
  display: flex;
  white-space: wrap;
  gap: 10px;
  align-items: center;
  padding: 6px 12px;
  border-radius: 6px;
}

.insidemenu__row:hover {
  background-color: #FFF;
  cursor: pointer;
  color: #1A76D0;
}

.insidemenu__row__svg {
  width: 20px;
  padding: 10px;
  background-color: #D8EFEF;
  border-radius: 8px;
}

.insidemenu__row > p {
  font-size: .85rem;
}

.insidemenu__content__chapter--banner {
  margin: 15px 0 0 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 12px;
}

.insidemenu__banner {
  width: 100%;
  min-height: 200px;
  height: 100%;
  background-image: url("./img-meganav-domains-2.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 535px 440px;
  transition: background-size 400ms ease-in-out;
}

.insidemenu__banner--webhosting {
  background-image: url("/img-meganav-ecommerce-hosting.webp");
}

.insidemenu__banner--marketing {
  background-image: url("/Image-Grow-Desktop.webp");
  background-size: 400px 340px;
}

.insidemenu__banner__link {
  color: #000;
  font-size: 18px;
  margin: 10px 0 0 0;
}

.insidemenu__content__chapter--banner:hover .insidemenu__banner__link {
  text-decoration: underline;
}

.insidemenu__content__chapter--banner:hover .insidemenu__banner {
  background-size: 635px 540px;
}


/* BODYYY ****************/

body {
  background-color: #FFF;
}

.hero__wrapper {
  max-width: 2500px;
  padding: 0 3rem;
  margin: 0 auto;
}

.searchbar {
  display: flex;
  flex: 2;
  outline: 1px solid #767676;
}

.searchbar--focused {
  outline: 3px solid blue;
}

.hero__inner {
  flex: 2;
}

.hero__upper__bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0;
  gap: 20px;
  justify-content: space-between;
}

.input {
  flex: 2;
  height: 60px;
  border-width: 0px;
  background-color: whitesmoke;
  font-size: 20px;
  padding: 0 16px;
}

.input--third[type="text"]:focus {
  outline: none
}

.input__button {
  height: 60px;
  background-color: #00838C;
  color: #FFFF;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 160px;
}

.input__button--mobile {
  display: none;
}

.input__button:hover {
  background-color: #09757A;
}

.input__button p {
  white-space: nowrap;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.hero__price {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.hero__shop__icon {
  height: 33px;
}

.hero__currency {
  color: #767676;
  font-size: 0.9rem;
}

.hero__offer__wrapper {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.hero__offer {
  border-radius: 15px;
  display: flex;
}

.hero__offer--left {
  background-image: url("./row-mrq-hp-landscape\ \(2\).jpg");
  display: flex;
  padding: 2dvw;
  background-size: cover;
  background-clip: border-box;
  background-repeat: no-repeat;
  min-height: 400px;
  flex: 5;
}

.hero__content {
  display: flex;
  flex-direction: column;
  max-width: 945px;
  padding: 2rem;
}

.hero__content--left {
  max-width: 350px;
  margin-bottom: 3rem;
}

.hero__content--left > *,
.hero__content--right > * {
  margin: 16px 0;
}

.hero__category {
  color: #111;
  font-size: 1rem;
  font-weight: 600; 
}

.hero__headline--left {
  font-size: 3rem;
}

.hero__description {
  font-size: 1.2rem;
}

.hero__offer__button {
  padding: 12px 48px;
  border: none;
  background-color: #111;
  color: #FFF;
  border-radius: 6px;
  position: relative;
  transition: all 0.5s;
  text-align: center;
}

.offer__button__text {
  white-space: nowrap;
  position: relative;
}

.offer__button__text::after {
  content: "\2192";
  font-size: 1.2rem;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
  height: 100%;
  transition: 0.5s;
  display: flex;
  align-items: center;
}

.hero__offer__button:hover {
  .offer__button__text {
    left: -10px;
  }
  .offer__button__text::after {
    opacity: 1;
    right: -30px;
  }
}

.hero__disclaimer {
  font-size: 0.9rem;
}

.hero__offer--right {
  background-color: #D8EFEF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.hero__headline--right {
  font-size: 2rem;
}

.hero__content--right {
  text-align: center;
}

/* HERO SERVICES ************/

.hero__services__wrapper {
  padding: 32px 0;
}

.hero__services__grid {
  display: grid;
  grid-auto-flow: column dense;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.2fr;
  grid-template-rows: repeat(2, minmax(3rem,1fr));
  border-top: 0.5px solid #D6D6D6;
  position: relative;
}

.hero__service {
  border-left: 0.5px solid #D6D6D6;
  border-right: 0.5px solid #D6D6D6;
  border-bottom: 0.5px solid #D6D6D6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  transition: all 500ms;
  position: relative;
}

.hero__service--almostlast {
  align-items: flex-end;
  border-bottom: unset;
}

.hero__service--almostlast:hover {
  .hero__service--last {
    background-color: #111;
    color: #FFF;
  }
}

.hero__service--last {
  align-items: flex-start;
  grid-row: span 2;
  place-self: stretch;
  display: flex;
  align-items: center;
}

.service__content {
  position: relative;
  font-size: 0.9rem;
}

.hero__service--arrow::after {
  content: url("/arrow__right.svg");
  position: absolute;
  opacity: 0;
  top: 0;
  right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  transition: opacity 100ms;
}

.service__headline,
.service__subhl,
.service__sshl {
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}

.service__headline--last {
  font-size: 2.5rem;
}

.hero__service:hover {
  background-color: #111;
  color: #FFF;
  border-left: 0.5px solid #111;
  border-right: 0.5px solid #111;
  border-bottom: 0.5px solid;

  .service__content--arrow {
    position: relative;
    right: 25px;
  }
}

.hero__service:hover::after {
  opacity: 1;
}

/* REVIEWS PART */

.reviews__wrapper {
  max-width: 2500px;
  padding: 5dvh 3rem;
  overflow-x: hidden;
  margin: 0 auto;
}

.reviews__inner__wrapper {
  overflow-x: hidden;
}

.reviews__wrapper--opacityoff {
  opacity: 0;
}

.reviews__wrapper--opacityon {
  opacity: 1;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 0.5s ease-out;
}

.reviews__mainhl {
  font-size: 2.5rem;
  padding-bottom: 20px;
  font-weight: 500;
}

.reviews__box__wrapper {
  overflow: scroll;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
  gap: 1rem;
  grid-template-rows: auto;
}

.reviews__box__wrapper::-webkit-scrollbar {
  display: none;
}

.reviews__box__wrapper-snap { 
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.reviews__box__wrapper--snap > * {
  scroll-snap-align: start;
}

.reviews__box {
  background-color: whitesmoke;
  display: flex;
  border-radius: 8px;
  min-width: 350px;
}

.reviews__box__content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.review__citation {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
  white-space: wrap;
}

.review__stars {
  padding: 20px 0 0;
  display: block;
}

.review__star {
  width: 15px;
}

.review__text {
  padding: 35px 0 0;
  line-height: 1.4;
  font-size: 1.1rem;
}

.review__author {
  padding-top: 50px;
  font-size: 0.8rem;
}

.reviews__bottom {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

.review__trustpilot__img {
  height: 40px;
}

.review__star--general {
  width: 30px;
  height: 30px;
}

.reviews__bottom__subline {
  padding: 20px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  font-size: 0.9rem;
}

.reviews__bottom__subline > span {
  color: #d4dbe0;
  font-size: 1.375rem
}

.reviews__controller__wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}

.review__control__button {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #000;
} 

.review__control__button:hover {
  background-color: #000;
  
  .control__arrow {
    fill: #FFF;
  }
}

.review__control__button--right {
  transform: scaleX(-1);
}

.control__arrow {
  width: 30px;
  height: 30px;
}


/* RTB BLOCK */

.rtb {
  margin: 0 auto;
  max-width: 2500px;
  padding: 60px 3rem;
}

.rtb__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0;
}

.rtb__image__container {
  display: flex;
  flex: 1;
}

.rtb__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.rtb__text__container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rtb__text__content {
  display: flex;
  gap: 20px;
  flex-direction: column;
  text-align: left;
  padding: 4dvw;
}

.rtb__preheader {
  font-size: 0.9rem;
}

.rtb__headline {
  font-size: 2.2rem;
}

.rtb__bodytext {
  font-size: 0.95rem;
  line-height: 1.5;
}

.rtb__bodytext > span {
  font-weight: bolder;
}

.rtb__button {
  white-space: nowrap;
  font-weight: bolder;
  border-radius: 6px;
  font-size: 0.9rem;
  padding: 1rem;
  border: 2px solid #000;
  color: #000;
  text-align: center;
  max-width: fit-content;
}

.rtb__button__second {
  font-size: 0.9rem;
}

.rtb__button__second:hover {
  font-weight: bolder;
  cursor: pointer;
  text-decoration: underline;
}



.rtb__button:hover {
  transform: scale(1.05);
  transform-origin: top;
}

.rtb__two__buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.rtb__disclaimer {
  font-size: 0.8rem;
}

/*********** DOMAIN *********/

.domain {
  background-color: #D8EFEF;
  text-align: center;
  display: flex;
  align-content: center;
  min-height: 35dvh;
  margin: 0 auto;
  max-width: 2500px;
}

.domain__content {
  margin: 0 auto;
  display: flex;
  flex: 2;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  max-width: 40dvw;
  padding: 8dvh;
}

.searchbar--secondary {
  flex: 0;
  outline: none;
}

.input--secondary--focused {
  outline: 2px solid blue;
  outline-offset: -2px;
}

.domain__h3 {
  font-size: 2rem;
}

.input__button--secondary {
  background: #000;
}

.input__button--secondary--mobile {
  display: none;
}

.magnifying__glass {
  fill: #FFFF;
  width: 30px;
  height: 30px;
}


/************ GUIDE *********/

.guide {
  background-image: url("/mrq-Guide-EMEA-Jamila-desktop.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: end;
  align-items: center;
  background-clip: padding-box;
  position: relative;
  margin: 0 auto;
  max-width: 2500px;
}

.guide__figcaption {
  position: absolute;
  left: 10%;
  top: 10%;
  font-size: 0.8rem;
}

.guide__figcaption span {
  font-weight: bolder;
}

.guide__content__wrapper {
  display: flex;
  padding: 48px;
  flex-basis: 50%;
}

.guide__content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 560px;
}

.guide__jamila--mobile {
  display: none;
}

.guide__logo {
  width: 177px;
  height: 24px;
}

.guide__h3 {
  font-size: 3rem;
  line-height: 1.3;
}

.guide__searchbar__underlinks {
  display: flex;
  gap: 15px;
}

.searchbar--third {
  outline: 0.5px solid #767676;
}

.guide__searchbar__links {
  color: #111;
  font-weight: bolder;
}

.guide__searchbar__links:hover {
  transform: scale(1.01);
}

/******** FAQ ***********/////

.faq {
  margin: 200px 0 0 0;
  margin: 0 auto;
  max-width: 2500px;
}

.faq__wrapper {
  margin: 50px auto;
  text-align: left;
  max-width: 800px;
}

.faq__heading {
  text-align: center;
  margin: 0 16px;
}

.faq__questions {
  padding: 24px;
  margin: 16px auto;
}

.faq__mainhl {
  font-size: 2.7rem;
  margin-bottom: 24px;
}

.faq__shl {
  font-size: 1.8rem;
  margin-bottom: 24px;
}

.faq__bodycopy {
  margin: 10px 0;
  line-height: 1.5;
  font-size: 0.9rem;
}

.faq__wrapper details {
  margin: 1.5rem 0;
  line-height: 1.3;
}

.faq__wrapper details:hover {
  cursor: pointer;
}

.faq__wrapper summary {
  font-size: 1.5rem;
  font-weight: bolder;
  list-style: none;
  margin: 0 25px 0 0;
}

.faq__details {
  position: relative;
}


.faq__details::after {
  content: url('arrow__down--black.svg');
  height: 25px;
  width: 25px;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 200ms;
}

.faq__details[open]::after {
  transform: rotate(180deg);
}

.faq__details__li {
  list-style: disc;
  margin: 10px 0px 0 20px;
  font-size: 0.9rem;
}

.faq__details__li--number {
  list-style: decimal;
}

.faq__bodycopy {
  margin: 8px 0 0;
}

.faq__note {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 0.9rem;
  margin: 100px 0;
}

.faq__support {
  margin: 100px 0 0 0;
  text-align: center;
  background-color: whitesmoke;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

/***** FOOTER *****/

.footer {
  background-color: #000;
}

.footer__header {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  flex-direction: column;
  box-shadow: 0 0.5px 0 0 whitesmoke;
  max-width: 2500px;
}

.footer__header__text {
  color: #FFF;
}

.footer__column__wrapper {
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  margin: 0 auto;
  max-width: 2500px;
}

.footer__column__wrapper--mobile {
  display: none;
}

.footer__column {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 0.8rem;
}

.footer__column__headline {
  font-size: 1rem;
  color: #FFF;
  font-weight: bolder;
}

.footer__bottombar {
  padding: 0 3rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 50px;
  border-bottom: 1px solid whitesmoke;
  max-width: 2500px;
  margin: 0 auto;
}


.footer__bottombar__left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__bottombar__link {
  color: #FFF;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  position: relative;
}

.footer__bottombar__expandmenu {
  position: absolute;
  display: none;
  bottom: 100%;
  z-index: 10;
  flex: 4;
  background-color: whitesmoke;
  animation: expandmenu__rollup 200ms ease-in-out;
}

@keyframes expandmenu__rollup {
  from {
    transform: scaleY(0.1);
    transform-origin: bottom;
  }
  to {
    transform: scaleY(1);
    transform-origin: bottom;
  }
}

.footer__bottombar__expandmenu--language {
  left: 0;
  right: 0;
}

.footer__bottombar__expandmenu--currency {
  display: none;
  width: 160px;
  height: 400px;
  background-color: whitesmoke;
  overflow: scroll;
}

.bottombar__expandmenu__wrapper {
  padding: 2.5rem;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  animation: expandmenu__opacity 800ms ease-in-out;
}

@keyframes expandmenu__opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bottombar__expandmenu__wrapper--currency {
  width: 160px;
  padding: 0;
  text-align: left;
}

.footer__expandmenu__hl {
  font-size: 1.6rem;
}

.footer__bottombar__languagues {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.bottombar__languague__column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottombar__languague__column a {
  font-size: 0.9rem;
  font-weight: bolder;
}

.expandmenu__currency__button {
  border: transparent;
  text-align: left;
  padding: 10px;
  margin: 5px 0;
  background-color: whitesmoke;
  font-size: 1rem; 
}

.expandmenu__currency__button:hover {
  background-color: #FFF;
}

.expandmenu__currency__button--selected {
  background-color: #09757A;
  color: #FFF;
}

.expandmenu__currency__button--selected:hover {
  background-color: #09757A;
}

.expandmenu__currency__button--us {
  border-bottom: 1px solid #767676;
}

.bottombar__languague__column a:hover {
  color: #1976d2;
}

.expandmenu__language__button--selected {
  text-decoration: underline;
  color: #1A76D0;
  font-weight: bolder;
}

.bottombar__arrow__up {
  width: 20px;
  transition: 500ms;
}

.icon {
  padding-left: 10px;
}

.footer__notes {
  padding: 20px 3rem 40px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0 auto;
  max-width: 2500px;
}

.footer__notes__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1.25rem;
}

.footer__notes__text {
  color: #FFF;
  font-size: 0.7rem;
}

.footer__notes__text--second {
  margin: 1.25rem 0 0 0;
}

.footer__notes__links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
}

.footer__notes__links a {
  white-space: nowrap;
  font-size: 0.7rem;
  color: #FFF;
}


/*********** SWITCHING DISPLAYS AND ROTATING ARROWS ********/

.arrow--open {
  transform: rotate(180deg);
}

.open__menu {
  display: flex;
}

/*************** MOBILE QUERRIES *********/

@media only screen and (max-width: 1200px) {
  .header,
  .input__button--domains {
    display: none;
  }
  .header--mobile {
    display: block;
  }

  .hero__wrapper,
  .reviews__wrapper {
    padding: 0 16px;
  }

  .reviews__box__wrapper {
    grid-template-columns: repeat(auto-fill,minmax(275px,1fr));
  }
  
  .reviews__box {
    min-width: 275px;
  }

  .rtb {
    padding: 48px 16px;
  } 

  .input {
    font-size: 16px;
  }

  .input__button--mobile {
    display: flex;
    flex-basis: 52px;
  }

  .hero__price {
    display: none;
  }

  .input__button__search {
    height: 40px;
  }

  .reviews__box__content {
    padding: 20px;
  }

  .review__citation {
    white-space: wrap;
  }
}


@media only screen and (max-width: 760px) {
  .hero__offer__button__wrapper,
  .hero__description--right,
  .hero__headline--right br,
  .reviews__controller__wrapper,
  .reviews__bottom__subline span
  .reviews__mainhl br,
  .input__button--secondary,
  .guide__h3 br,
  .footer__column__wrapper {
    display: none;
  }

  .hero__offer__wrapper {
    flex-direction: column;
  }

  .hero__offer--left {
    min-height: 559px;    
    background-image: url("/mobile__hp-portrait.webp");
    background-size: cover;
    background-position: center 80%;
  }

  .hero__content--left {
    text-align: center;
    max-width: unset;
    padding: unset;
  }

  .hero__headline--left {
    font-size: 1.5rem;
  }

  .hero__left__description {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .hero__disclaimer--left {
    font-size: 0.8rem;
  }

  .hero__offer--right {
    align-items: start;
    position: relative;
  } 

  .hero__content--right {
    padding: 16px 32px;
    max-width: 50%;
  }

  .hero__offer--right::after {
    content: url("/arrow__right--black--big.svg");
    position: absolute;
    right: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    transform: scale(1.4);
  }

  .hero__headline--right {
    font-size: 1.5rem;
  }

  .hero__content--right > div {
    text-align: left;
    margin: 0 0px 16px;
  }

  .hero__content--right > div {
    text-align: left;
  }

  .hero__offer__button__wrapper {
    display: none;
  }

  .hero__services__grid {
    grid-auto-flow: row dense;
    grid-template-columns: 1fr 1fr;
  }

  .hero__service--last {
    grid-column: span 2;
  }

  .reviews__bottom__subline {
    flex-wrap: wrap;
    justify-content: start;
  }

  .review__trustpilot__img {
    width: 110px;
    height: 26px;
  }

  .reviews__mainhl {
    font-size: 1.8rem;
  }

  .review__star--general {
    width: 20px;
    height: 20px;
  }

  .reviews__bottom__subline {
    font-size: 0.75rem;
  }

  .rtb__block {
    flex-direction: column;
  }

  .rtb__block:nth-child(2),
  .rtb__block:nth-child(4) {
    flex-flow: column-reverse;
  }

  .rtb__headline,
  .domain__h3,
  .guide__h3,
  .faq__mainhl {
    font-size: 1.8rem;
  }

  .domain__content {
    max-width: unset;
    padding: 0 16px;
  }

  .input--secondary {
    flex: initial;
    flex: 1;
  }

  .input__button--secondary--mobile {
    display: flex;
  }

  .guide {
    flex-direction: column;
    align-items: unset;
    background-image: none;
    flex: 2;
  }

  .guide__content__wrapper {
    flex-direction: column;
    padding: 48px 16px;
    gap: 20px;
  }

  .guide__content {
    max-width: unset;
    gap: 20px;
  }

  .guide__content--mobile {
    display: flex;
  }

  .guide__jamila--mobile {
    display: block;
    width: 100%;
    height: auto;
  }

  .input--third {
    height: 42px;
  }

  .faq {
    margin: 48px 0 0;
  }

  .faq__mainhl > br {
    display: none;
  }

  .faq__shl {
    font-size: 1.5rem;
  }

  .faq__questions {
    max-width: 450px;
  }

  .faq__details summary {
    font-size: 1.1rem;
  }

  .faq__note {
    padding: 0 16px;
    margin: 20px 0;
  }

  .faq__support {
    margin: 20px 0 0;
  }

  .faq__support p {
    padding: 0 16px;
  }

  .footer__column__wrapper--mobile {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 38px 16px;
  }

  .footer__details {
    color: #FFF;
  }

  .footer__details:hover {
    cursor: pointer;
  }

  .footer__details__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .footer__details__summary::after {
    content: '+';
  }
  
  .footer__details[open] >  .footer__details__summary::after {
    content: '-';
  }

  .footer__bodycopy {
    color: #767676;
    margin: 10px 0;  
    font-size: 0.9rem;
  }

  .footer__bodycopy:hover {
   text-decoration: underline;
  }

  .footer__bottombar {
    padding: 0 16px 38px;
    flex-direction: column;
  }

  .footer__bottombar__left {
    flex-direction: column;
    width: 100%;
  }

  .footer__bottombar__languagues {
    flex-direction: column;
  }

  .bottombar__expandmenu__wrapper {
    overflow: scroll;
  }

  .bottombar__languague__column {
    gap: 0;
  }

  .expandmenu__language__button {
    padding: 10px 0;
  }

  .open__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .footer__notes__wrapper {
    flex-direction: column-reverse;
  }

  .footer__notes {
    padding: 20px 16px ;
  }
}