@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

nav ul, nav li {
  list-style: none;
  list-style-position: inside;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #767676;
}

a:hover {
  cursor: pointer;
}

body {
  font-family: "Helvetica";
  overflow-x: hidden;
}

/* HEADER */
.header {
  height: 64px;
  background-color: #2B2B2B;
}

.header__outer {
  display: flex;
  align-items: center;
  height: 64px;
}

.header__inner {
  padding: 0 3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex: 3;
  justify-content: space-between;
}

.header__left__ul {
  display: flex;
  flex-direction: row wrap;
  gap: 0.25rem;
  align-items: center;
}

.header__logo__link {
  width: 143px;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.header__logo {
  height: 32px;
  width: 143px;
  display: flex;
}

.header__logo path {
  fill: white;
}

.header__logo__caption {
  color: white;
  text-align: right;
  white-space: nowrap;
  font-size: 0.625rem;
}

.header__link {
  color: #FFF;
  padding: 8px 12px;
  font-size: 1rem;
  font-weight: 500;
  font-family: Helvetica, Arial, sans-serif;
  white-space: nowrap;
  letter-spacing: 1px;
}

.header__link--divider {
  background-color: #5E5E5E;
  width: 1px;
  height: 38px;
}

.header__inner__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__right__ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.header__link--right {
  font-size: 0.8rem;
  font-weight: 400;
  margin-left: 8px;
}

.header__link--shopcart {
  display: flex;
  align-items: center;
  padding: 8px 0 8px 12px;
}

.header__shopcart {
  fill: #FFF;
  height: 1.4rem;
}

.header__link--arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link__arrow {
  height: 20px;
}

.header__link:hover {
  background-color: #5E5E5E;
  border-radius: 8px;
}

.header__link--shopcart:hover {
  background-color: unset;
}

/* BODYYY ****************/
body {
  background-color: #FFF;
}

.hero__wrapper {
  padding: 0 3rem;
}

.hero__searchbar {
  display: flex;
  flex: 2;
}

.hero__searchbar--focused {
  box-sizing: border-box;
  outline: 2px solid skyblue;
}

.hero__inner {
  flex: 2;
}

.hero__upper__bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 0;
  gap: 20px;
  justify-content: space-between;
}

.hero__input {
  flex: 2;
  height: 60px;
  border-left: 1px solid #767676;
  border-top: 1px solid #767676;
  border-bottom: 1px solid #767676;
  background-color: whitesmoke;
  font-size: 20px;
  padding: 0 16px;
  outline: none;
}

.hero__input__button {
  height: 60px;
  background-color: #00838C;
  color: white;
  border-top: 1px solid #767676;
  border-bottom: 1px solid #767676;
  border-right: 1px solid #767676;
  border-left: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 160px;
}

.hero__input__button:hover {
  background-color: #09757A;
}

.hero__input__button p {
  white-space: nowrap;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 500;
}

.hero__price {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

.shop__icon {
  height: 33px;
}

.hero__currency {
  color: #767676;
  font-size: 0.9rem;
}

.hero__offer__wrapper {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.hero__offer {
  border-radius: 15px;
  display: flex;
}

.hero__offer--left {
  background-image: url("./row-mrq-hp-landscape (2).jpg");
  display: flex;
  padding: 2dvw;
  background-size: cover;
  background-clip: border-box;
  background-repeat: no-repeat;
  min-height: 400px;
  flex: 5;
}

.hero__content {
  display: flex;
  flex-direction: column;
  max-width: 945px;
  padding: 2rem;
}

.hero__content--left {
  max-width: 350px;
  margin-bottom: 3rem;
}

.hero__content--left > *,
.hero__content--right > * {
  margin: 16px 0;
}

.hero__category {
  color: #111;
  font-size: 1rem;
  font-weight: 600;
}

.hero__headline--left {
  font-size: 3rem;
}

.hero__description {
  font-size: 1.2rem;
}

.hero__offer__button {
  padding: 12px 48px;
  border: none;
  background-color: #111;
  color: #FFF;
  border-radius: 6px;
  position: relative;
  transition: all 0.5s;
  text-align: center;
}

.offer__button__text {
  white-space: nowrap;
  position: relative;
}

.offer__button__text::after {
  content: "→";
  font-size: 1.2rem;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -40px;
  height: 100%;
  transition: 0.5s;
  display: flex;
  align-items: center;
}

.hero__offer__button:hover .offer__button__text {
  left: -10px;
}
.hero__offer__button:hover .offer__button__text::after {
  opacity: 1;
  right: -30px;
}

.hero__disclaimer {
  font-size: 0.9rem;
}

.hero__offer--right {
  background-color: #D8EFEF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.hero__headline--right {
  font-size: 2rem;
}

.hero__content--right {
  text-align: center;
}

/* HERO SERVICES ************/
.hero__services__wrapper {
  padding: 32px 0;
}

.hero__services__grid {
  display: grid;
  grid-auto-flow: column dense;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.2fr;
  grid-template-rows: repeat(2, minmax(3rem, 1fr));
  border-top: 0.5px solid #D6D6D6;
}

.hero__service {
  border-left: 0.5px solid #D6D6D6;
  border-right: 0.5px solid #D6D6D6;
  border-bottom: 0.5px solid #D6D6D6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  transition: all 500ms;
}

.hero__service--almostlast {
  align-items: flex-end;
  border-bottom: unset;
}

.hero__service--almostlast:hover .hero__service--last {
  background-color: #111;
  color: #FFF;
}

.hero__service--last {
  align-items: flex-start;
  grid-row: span 2;
  place-self: stretch;
  display: flex;
  align-items: center;
}

.service__content {
  position: relative;
  font-size: 0.9rem;
}

.service__content--warrow::after {
  content: url("/arrow__right.svg");
  position: absolute;
  top: 0;
  right: -25px;
  height: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  transition: all 500ms;
}

.service__headline,
.service__subhl,
.service__sshl {
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}

.service__headline--last {
  font-size: 2.5rem;
}

.hero__service:hover {
  background-color: #111;
  color: #FFF;
  border-left: 0.5px solid #111;
  border-right: 0.5px solid #111;
  border-bottom: 0.5px solid;
}
.hero__service:hover .service__content::after {
  opacity: 1;
  right: -35px;
}
.hero__service:hover .service__content--warrow {
  position: relative;
  right: 25px;
}

/* REVIEWS PART */
.reviews__wrapper {
  padding: 5dvh 3rem;
  overflow-x: scroll;
}

.reviews__mainhl {
  font-size: 2.5rem;
  padding-bottom: 20px;
  font-weight: 500;
}

.reviews__box__wrapper {
  overflow-x: auto;
  display: grid;
  grid-template-rows: min-content;
  grid-auto-flow: column;
  gap: 1rem;
  grid-auto-columns: 32%;
  overscroll-behavior-inline: contain;
}

.reviews__box__wrapper::-webkit-scrollbar {
  display: none;
}

.reviews__box__wrapper-snap {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.reviews__box__wrapper--snap > * {
  scroll-snap-align: start;
}

.reviews__box {
  background-color: whitesmoke;
  display: flex;
  border-radius: 8px;
}

.reviews__content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.review__citation {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
}

.review__stars {
  padding: 20px 0 0;
  display: block;
}

.review__star {
  width: 15px;
  height: 15px;
}

.review__text {
  padding: 35px 0 0;
  line-height: 1.4;
  font-size: 1.1rem;
}

.review__author {
  padding-top: 50px;
  font-size: 0.8rem;
}

.reviews__controller__wrapper {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}

.review__control__button {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid #000;
}

.review__control__button:hover {
  background-color: #000;
  cursor: pointer;
}
.review__control__button:hover .control__arrow {
  fill: #FFF;
}

.review__control__button--right {
  transform: scaleX(-1);
}

.control__arrow {
  width: 30px;
  height: 30px;
}/*# sourceMappingURL=style.css.map */